.place_margin-bottom {
  margin-bottom: 80px;
}

.place_margin-bottom:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place_margin-bottom {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place_margin-bottom {
    margin-bottom: 50px;
  }
}

