.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 690px) {
  .lead__title {
    font-size: 82px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 585px) {
  .lead__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 510px) {
  .lead__title {
    font-size: 62px;
  }
}

@media screen and (max-width: 435px) {
  .lead__title {
    font-size: 52px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 370px) {
  .lead__title {
    font-size: 46px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
