.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 510px) {
  .lead__subtitle {
    max-width: 320px;
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
