.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 36px;
}

@media screen and (max-width: 690px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
